<p id="notice"><%= notice %></p>

<p>
  <strong>Comment:</strong>
  <%= @comment.comment %>
</p>

<p>
  <strong>Client:</strong>
  <%= @comment.client_id %>
</p>

<p>
  <strong>Organization name:</strong>
  <%= @comment.organization_name %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
