<div class="container">
  <div class="row">
    <div class="col-sm-12">
<p id="notice"><%= notice %></p>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h1>Clients</h1>
        </div>
      </div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Show</th>
      <th>Edit</th>
      <th>Destroy</th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.name %></td>
        <td><%= link_to organization_client_path(@organization,client),class: "btn btn-default" do %>  <i class="glyphicon glyphicon-eye-open"></i>
  <% end %></td>
        <td><%= link_to edit_organization_client_path(@organization,client),  class: "btn btn-default" do%><i class="glyphicon glyphicon-pencil"></i>
  <% end %></td>
        <td><%= link_to  client, method: :delete, data: { confirm: 'Are you sure?' },class: "btn btn-default" do %><i class="glyphicon glyphicon-trash"></i>
          <% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>



<%= link_to  organization_path(@organization), class: "btn btn-default" do%><i class="glyphicon glyphicon-step-backward"></i>
<% end %>


</div>
</div>
    </div>



